@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300;400&display=swap');

:root{
  --theme-color: #9BEDFF;
}

* {
  box-sizing: border-box;
  font-family: 'Mitr', sans-serif;
}

.container{
  max-width: 1520px;
  margin: auto;
  padding: 20px;
  padding-top: 100px;
}

/* width */
::-webkit-scrollbar { width: 10px; height: 10px;}

/* Track */
::-webkit-scrollbar-track { background: #f1f1f1; border-radius: 20px;}
 
/* Handle */
::-webkit-scrollbar-thumb { background: #888; border-radius: 20px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover { background: #555; }


.post-item{
  width: 100%;
  border-radius: 20px;
  margin: 25px 0;
  border: 2px solid hsl(0, 0%, 0%, .25);
  padding: 20px;
  transition: transform .1s;
}

.post-item:hover{
  transform: scale(1.01);
}

.post-item img{
  width: 100%;
}

.author{
  display: flex;
  margin-bottom: 20px;
}
.author>*{
  margin-right: 10px;
}

.author .author-avatar{
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.author .comment-author-avatar{
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.author .author-name{
  font-size: 24px;
  font-weight: bold;
}

.post-datetime{
  font-size: 14px;
  color: gray;
}

.post-title{
  font-size: 26px;
  font-weight: bold;
  margin: 10px 0;
}

.cates{
  display: flex;
  margin: 5px 0;
}


.cates-item{
  background: var(--theme-color);
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: bold;
  font-weight: 400;
  height: fit-content;
}

.cates-item:hover{
  cursor: pointer;
  color: #555;
}

.tags {
  color: #888;
  display: flex;
  margin: 5px 0;
}

.tags-item {
  margin-right: 5px;
}

.tags-item:hover{
  cursor: pointer;
  text-decoration: underline;
}

.nvbar{
  height: 75px;
  background: var(--theme-color);
  display: flex;
  align-items: center;
  padding: 10px;
  position: fixed;
  width: 100vw;
  z-index: 5;
}

.nvbar-item{
  width: 50%;
  display: flex;
}

.nvbar-item.right{
  justify-content: right;
}

.nvbar-title{
  font-size: 24px;
  font-weight: bold;
}

.nvbar-item>.nvbar-btn{
  padding: 0 30px;
  font-size: 24px;
}

.navbar-link.selected{
  color: white;
  cursor: default;
}

.navbar-link, .btn-link{
  text-decoration: none;
  color: black;
}

.navbar-link:hover{
  color: gray;
  cursor: pointer;
}

.posts{
  width: 100%;
  display: flex;
  gap: 20px
}

.post-box{
  width: auto;
}

.post-box-sm{
  width: 50%;
}

.post-box-title{
  font-size: 36px;
  padding: 10px;
  padding-left: 20px;
  border-left: 5px solid var(--theme-color);
}

.post-num-comment{
  text-align: right;
}

.post-num-comment.post-comment{
  margin-top: 50px;
  text-align: center;
  font-size: 30px;
}

.post-img-comment{
  text-align: right;
  margin-top: 5px;
}

.post-img-comment>img{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 5px;
}

.btn-links{
  padding: 10px;
  margin: 15px 0;
}

.btn-links.btn-right{
  text-align: right;
}

.btn-links.btn-center{
  text-align: center;
}

.btn-link:hover{
  border: 2px solid var(--theme-color);
  color: black;
  background: white;
}

.btn-link{
  padding: 10px 20px;
  border-radius: 10px;
  border: 0px solid black;
  background-color: var(--theme-color);
}

.comment-item{
  margin: 25px 0;
  border-bottom: 2px solid black;
}

.comment-no{
  margin-bottom: 20px;
  color: white;
  padding: 10px 20px;
  background: #888;
  width: fit-content;
  border-radius: 20px;
}

.a-link{
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.a-link:hover{
  text-decoration: underline;
  color: #555;
}

.categories, .tags-box{
  width: 100%;
  overflow-y: auto;
  display: none;
}

.categories-item, .tags-box-item{
  display: inline-flex;
  gap: 20px;
}

.categories-item > div,.tags-box-item > div {
  width: 500px;
}

.btn-toTop{
  position: fixed;
  width: 50px;
  height: 50px;
  z-index: 20;
  right: 50px;
  bottom: 50px;
  border-radius: 50%;
}

.btn-toTop > button {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  background-color: var(--theme-color);
  border: 2px solid black;
}

.btn-toTop > button:hover {
  cursor: pointer;
  filter: brightness(0.90);
}

.comment-input{
  width: 100%;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
}

input.comment-input{
  width: 50vw;
}

textarea.comment-input{
  width: 100%;
  height: 150px;
}

.comment-btn{
  text-align: right;
}

.comment-btn > button{
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--theme-color);
}

.comment-btn > button:hover{
  filter: brightness(.95);
}

.comment-label{
  margin-right: 20px;
  font-size: 24px;
  margin-bottom: 10px;
}

.user-item{
  width: 100%;
  gap: 20px;
  padding: 20px;
}

.link-default{
  color: unset;
  text-decoration: none;
}

.link-default:hover{
  color: unset;
}

.cate-title, .tag-title{
  background-color: #eee;
  padding: 15px 10px;
  font-size: 24px;
  font-weight: bold;
  margin-top: 5px;
  border-radius: 10px;
}

.cate-title:hover, .tag-title:hover{
  cursor: pointer;
}